
header{
    margin: 20px 0px 0px 80px
}

.logo{
    width: 30px;
}

button{
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
}

button text{
    width: 269px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
}

button:hover{
    cursor: pointer;
    transition-duration: 0.5s;
}

.blue-button{
    background: #0A3871;;
    color:#FFFFFF;
    width: 317px;
    height: 114px;
    font-size: 18px;
    
}

.blue-button:hover{
    background: #072B61;;
}

.white-button{
    background: #e4e4e400;
    width: 280px;
    height: 67px;
    font-size: 16px;
    color:#0A3871;
}

.white-button:hover{
    background:#EFF1FA;
}

/* main part */

.content{
    height: 90%;
    margin:auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;

}

/*write-part*/
.write-part{
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: none;
    height: 100%;
    flex-direction: column;
}

.write-input{
    height: 70%;
}
.write-input textarea{
    font-family: 'Inter';
    font-size: 32px;
    width: auto;
    color: #0A3871;
    border:none;
    overflow: auto;
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

::placeholder{
    color: #0A3871;
}

.advice-text{
    margin-left: 15px;
    margin-bottom: 10px;
}

.write-buttons-text{
    height: 30%;
}


.write-buttons,.game-buttons{
    gap:2em;
    display: flex;
    justify-content:space-around;
}

.save,.cancel,.new-game,.surrender{
    width: 332px;
    height: 67px;
}

/*game part*/

.game-part{
    display: none;
    flex-direction: column;
    height: 100%;
}

.game-scenario{
    height: 70%;
    margin: auto;
}

.game-buttons{
    height: 30%;
}
